article {
  max-width: 760px;
  /* margin: 0 auto;
  padding: 2rem 1.5rem; */
  /* font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  line-height: 1.6;
  font-size: 16px;
}

/* Headings */
article h1,
article h2,
article h3,
article h4 {
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.25;
  font-family: var(--font-space-grotesk);
}

article h1 {
  font-size: 2.5rem;
}

article h2 {
  font-size: 2rem;
}

article h3 {
  font-size: 1.5rem;
}

article h4 {
  font-size: 1.25rem;
}

/* Paragraphs */
article p {
  margin: 1rem 0;
}

/* Links */
article a {
  text-decoration: none;
  border-bottom: 1.5px solid currentColor;
  transition: border-color 0.3s ease;
}

article a:hover {
  border-color: inherit;
}

/* Lists */
article ul,
article ol {
  margin: 1rem 0 1rem 1.5rem;
  padding-left: 0;
  line-height: 1.5;
}

article li {
  margin-bottom: 0.5rem;
}

/* Blockquote */
article blockquote {
  margin: 1.5rem 0;
  padding-left: 1rem;
  border-left: 3px solid currentColor;
  font-style: italic;
}

/* Code blocks */
article pre {
  background-color: #171717; /* light gray for code block bg */
  padding: 1rem 1.25rem;
  border-radius: 6px;
  overflow-x: auto;
  font-family: "Fira Code", monospace, monospace;
  font-size: 0.95rem;
  margin: 1.5rem 0;
  line-height: 1.4;
}

article pre code {
  background: none;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

/* Inline code */
article code {
  padding: 0.15em 0.3em;
  font-size: 0.9rem;
  border-radius: 4px;
  font-family: "Fira Code", monospace, monospace;
}

/* Tables */
article table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
  font-size: 1rem;
}

article th,
article td {
  border: 1px solid #d1d5db; /* subtle gray borders */
  padding: 0.5rem 1rem;
  text-align: left;
}

article th {
  font-weight: 600;
}

/* Horizontal Rule */
article hr {
  border: none;
  border-top: 1px solid #303030;
  margin: 2rem 0;
}

/* Images */
article img {
  max-width: 100%;
  border-radius: 4px;
  margin: 1.5rem 0;
  display: block;
}

/* Responsive */
@media (max-width: 768px) {
  article {
    padding: 1.5rem 1rem;
    font-size: 16px;
  }
}
